<p id="notice"><%= notice %></p>

<h1>Welcome to the Class Catalog!</h1>

<p>
    Click here for <%= link_to "Students", students_url %> page <br>
    Click here for <%= link_to "Professors", professors_url %> page <br>
    Click here for <%= link_to "Sections", sections_url %> page <br>
    Click here for <%= link_to "Courses", courses_url %> page <br>
</p>