<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor ? @professor.name : "NIL PROFESSOR FIRST NAME" %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @professor ? @professor.last_name : "NIL PROFESSOR LAST NAME" %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Return to Professors list', professors_path %>
