<p id="notice"><%= notice %></p>

<p>
  <strong>Course Name:</strong>
  <%= @course.name %>
</p>
<p>
  <strong>Department Name:</strong>
  <%= @course.department_name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Return to Courses list', courses_path %>
